@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: "Spline Sans", sans-serif;
  color: #777;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s;
}

p {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #F58d17;
}

img {
  width: 100%;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.shadow-on-hover {
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  }
}

/* Btn */

.btn {
  border-radius: 0;
  padding: 14px 38px;
}

.btn-brand {
  color: #fff;
  font-weight: 500;
  border-color: #F58d17;
  background-color: #F58d17;

  &:hover {
    border-color: #d37810;
    background-color: #d37810;
    color: #fff;
  }
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

/* Slider */

.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://drive.google.com/uc?id=12p3JFTXwBVfjHDF0rsjBgRF3yCvKCc4e);
}

.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.tokopedia.net/img/cache/500-square/product-1/2015/7/12/295501/295501_06631185-1e6a-472f-840b-374962597c19.JPG);
}

#home h4 {
  &::after, &::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
  }
}

.carousel-control-prev, .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 70px;
  margin: auto;
}

.navbar-nav .nav-link.active {
  color: #F58d17;
}

/* About */

#about .divider {
  width: 60px;
  height: 2px;
  display: block;
  background-color: #F58d17;
}

/* Intro text */

.intro-text {
  margin-bottom: 40px;
  text-align: center;

  p {
    max-width: 500px;
    margin: 16px auto 0 auto;
  }
}

/* produk */

.nav-pills {
  .nav-link {
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: black;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  }

  --bs-nav-pills-border-radius:0.375rem;
  --bs-nav-pills-link-active-color:#fff;
  --bs-nav-pills-link-active-bg:#F58d17;
}

.menu-item .stars {
  color: #ed9f2b;
}

.tentang {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  iframe {
    width: 100%;
    border-radius: .5rem;
    border: 1rem solid #333;

    &:hover {
      transform: scale(1.03);
    }
  }
}

/* Pembayaran */

.team-member img {
  max-width: 140px;
  box-shadow: -10px -10px 0 #F58d17;
  border-radius: 100px;
}

/* Pemesanan */

#reservation {
  .form-control {
    border-radius: 0;

    &:focus {
      box-shadow: none;
      border-color: #F58d17;
    }
  }

  input.form-control {
    height: 47px;
  }
}

/* Footer */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;

  .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }

  p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;

    a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
      transition: ease .25s;
    }
  }

  .footer-links {
    a:before {
      content: "·";
      font-size: 20px;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }

    .link-1:before {
      content: none;
    }
  }

  .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;

    a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-left: 3px;
      transition: all .25s;

      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
      }
    }
  }

  p.footer-links a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  .footer-distributed {
    .footer-left {
      text-align: center;
    }

    .footer-right {
      text-align: center;
      float: none;
      margin: 0 auto 20px;
    }

    .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
}